:root {
  --text-color:white;

   --main-bg-color: #26626B;
  --color-scheme-1:#69969C;
  --color-scheme-2:#427A82;
  --color-scheme-3:#0E464E;
--color-scheme-4:#012E34;
 
  --high-contrast-rbg:#993558;
  --high-contrast-r1:#DF95AF;
  --high-contrast-r2:#BA5D7E;
  --high-contrast-r3:#701334;
  --high-contrast-r4:#4A001A;

  --high-contrast-ybg:#AE973D;
  --high-contrast-y1:#FFEDAA;
  --high-contrast-y2:#D4BE6A;
  --high-contrast-y3:#806915;
  --high-contrast-y4:#554300;
filter: invert(100%);
}

body{
    margin:0;
    padding:0;
    height:200vh;
    width: 100%;
    background-color:var(--color-scheme-3);
    color: var(--text-color);
    z-index: 0;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar
{
    position: relative;
    z-index: 50;
}
.nav
{
   position: fixed;
}

div.nav > h1
{   
    position: fixed;
    right: 10px;
    font-size: 2.5em;
    z-index: 50;
}

div.nav> .nav-modal
{color: var(--high-contrast-r1);
height: 100%;
width: 100%;
display: inline-flex;
background-color: var(--high-contrast-rbg);
z-index:49;
position: fixed;
top: 0;
transition:0.7s;
justify-content: center;
align-items: center;
padding-top:5; 
opacity: 1;
}

div.nav> .nav-modal > ul > li
{
    font-size: 3em;
    list-style: none;
    padding: 1em;
    padding-left: 0;
    width: 100%;
    border-bottom:var(--high-contrast-y2);
    border-style: none;
    border-width: 2px;
    transition: 0.3s;
}
div.nav> .nav-modal > ul > li:hover
{
background-color: var(--high-contrast-r4);
color:var(--high-contrast-r1);
}
div.nav> .nav-modal > ul
{
    text-align: center;
    width: 100%;
}
.navr{
    left:100%;
}
.navi{
    left:0;
}
/* navbar end */
/* top  */
.topbar
{position: relative;
    z-index: -1;
}
@media only screen and (max-width: 750px) {

.top
{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100vh;


}
}
@media only screen and (min-width: 750px) {

.top
{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100vh;
}
.top>#typewriter
{
    
transform: translateY(-1em) translateX(2em);
  
}
}
.top
{
background-color: var(--high-contrast-y3);
align-items: center;
display: inline-flex;
}
#typewriter
{
 font-size: 3em;  
color: var(--high-contrast-y2);
}
#typewriter::before
{
content: "I am a";
}
#typewriter::after
{content: "|";
animation:blink 0.5s linear infinite alternate;  
color: var(--high-contrast-y3);
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*top end */