:root {
  --text-color:white;
   --main-bg-color: #d99d94;
  --color-scheme-1:#966963;
  --color-scheme-2:#bd857d;
  --color-scheme-3:#f1b9b1;
--color-scheme-4:#fed1cb;
 
  --high-contrast-rbg:#66caa7;
  --high-contrast-r1:#206a50;
  --high-contrast-r2:#45a281;
  --high-contrast-r3:#8feccb;
  --high-contrast-r4:#f3f6f5;

  --high-contrast-ybg:#5168c2;
  --high-contrast-y1:#001255;
  --high-contrast-y2:#2b4195;
  --high-contrast-y3:#7f96ea;
  --high-contrast-y4:#aabcff;
 
}

body{
  
    background-color:var(--color-scheme-3);
    color: var(--text-color);
    z-index: 0;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar
{
    position: relative;
    z-index: 50;
}
.nav
{
   position: fixed;
}

div.nav > h1
{   
    position: fixed;
    right: 10px;
    font-size: 2.5em;
    z-index: 50;
}

div.nav> .nav-modal
{color: var(--high-contrast-r1);
height: 100%;
width: 100%;
display: inline-flex;
background-color: var(--high-contrast-rbg);
z-index:49;
position: fixed;
top: 0;
transition:0.7s;
justify-content: center;
align-items: center;
padding-top:5; 
opacity: 1;
}

div.nav> .nav-modal > ul > li
{
    font-size: 3em;
    list-style: none;
    padding: 1em;
    padding-left: 0;
    width: 100%;
    border-bottom:var(--high-contrast-y2);
    border-style: none;
    border-width: 2px;
    transition: 0.3s;
}
div.nav> .nav-modal > ul > li:hover
{
background-color: var(--high-contrast-r4);
color:var(--high-contrast-r1);
}
div.nav> .nav-modal > ul
{
    text-align: center;
    width: 100%;
}
.navr{
    left:100%;
}
.navi{
    left:0;
}
/* top  */
.topbar
{position: relative;
    z-index: -1;
}
@media only screen and (max-width: 750px) {

.top
{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100vh;


}
}
@media only screen and (min-width: 750px) {

.top
{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100vh;
}
.top>#typewriter
{
    
transform: translateY(-1em) translateX(2em);
  
}
}
.top
{
background-color: var(--high-contrast-y3);
align-items: center;
display: inline-flex;
}
#typewriter
{
 font-size: 3em;  
color: var(--high-contrast-y2);
}
#typewriter::before
{
content: "I am a";
}
#typewriter::after
{content: "|";
animation:blink 0.5s linear infinite alternate;  
color: var(--high-contrast-y3);
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*photoarea*/
.photoarea
{
   padding-top: 4em;
   padding-bottom: 4em;
    width: 100%;
    align-items: center;
display: inline-flex;
justify-content: center;
}
.photocont
{
    background-color: var(--color-scheme-4);
    height: 20em;
    width: 20em;
    border-radius: 50%;
    align-items: center;
display: inline-flex;
justify-content: center;

}
.photo 
{
      background-color: var(--color-scheme-1);
    height: 19em;
    width: 19em;
    border-radius: 50%;
    align-items: center;
display: inline-flex;
background-image: url("./smaple.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: 100%;
}
/*skills area*/
.skillsarea
{
 padding-bottom: 2em;
    width: 100%;
display: inline-flex;
justify-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 2em;
color: var(--color-scheme-4);
}
.skillsarea >div>ul >li
{
    list-style: none;
    border-radius: 2em;
    background-color: var(--color-scheme-4);
    color: var(--color-scheme-1);
    text-align: center;
    margin: 0.5em;
    padding: 0.1em;
}

/* about start */
.aboutarea{
 padding: 0.2em;
 width: 100%;
 padding-bottom: 1.5em;
display: inline-flex;
justify-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.5em;
color: var(--color-scheme-4);

}

.aboutarea >div>ul >li
{
list-style: none;
}
/*  about end*/
/* footer start */
.footer{
width: 100%;
display: inline-flex;
justify-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 2em;
color: var(--color-scheme-4);
background-color: var(--high-contrast-rbg);
padding-bottom: 0.5em;
padding-top: 0.5em;
max-width: 100vw;

}

.footer >div>ul >li
{
list-style: none;
display: inline;
margin: 0.4em;
}
.footer >div>ul >li>a
{
    font-size: 1.8em;
    text-decoration: none !important;
    color: var(--high-contrast-y2);
}
